<p-card class="block mb-2">
  <div class="flex flex-row gap-4">
    <img src="{{ product.image }}" alt="{{ product.name }}"/>
    <div class="flex flex-column gap-2">
      <span class="font-medium text-secondary text-sm">{{ product.category }}</span>
      <div class="text-lg font-medium text-900">{{ product.name }}</div>
      <div class="text-sm text-700">{{ product.description }}</div>
      <div class="text-lg font-medium text-primary">{{ product.price }} DH</div>
      <app-product-stock-status-badge [inventoryStatus]="product.inventoryStatus"></app-product-stock-status-badge>
      <app-product-rating-stars [stars]="product.rating"></app-product-rating-stars>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <div class="flex gap-2 flex-column">
      <app-add-to-cart [product]="product"></app-add-to-cart>
      <div class="flex gap-3 mt-1">
        <p-button label="Modifier" severity="secondary" (onClick)="onUpdateClick()"/>
        <p-button label="Supprimer" severity="danger" (onClick)="onDeleteClick()"/>
      </div>
    </div>
  </ng-template>
</p-card>
